{% extends 'base.html' %}
{% block content %}

<div class="mx-4 mt-2 px-2 py-4">
    <div class="flex justify-between items-center">
        <div class="max-w-7xl">
            <h1 class="mb-4 text-4xl font-bold leading-tight text-gray-900 md:font-extrabold">메인 매장</h1>
        </div>
    </div>

    {% if not request.user.profile.main_store %}
    <div class="w-full px-4 pt-5 pb-6 mx-auto mt-8 mb-8 bg-white rounded-lg">
        <p class="mb-6 text-lg text-gray-500 md:text-xl">메인 매장으로 등록된 매장이 없습니다</p>
    </div>
    {% else %}
    <div class=" bg-white rounded-lg mb-16">   
        <div class="w-full px-4 pt-5 mb-6">
            <div class="w-full lg:w-8/12 xl:w-5/12">
                <p class="mb-2 text-xs font-semibold tracking-wide text-gray-400 uppercase">For Developers</p>
                <h1 class="mb-3 text-3xl font-bold leading-tight text-gray-900 md:text-4xl">{{request.user.profile.main_store.name}}</h1>
                <p class="mb-5 text-base text-gray-500 md:text-lg">
                    {{request.user.profile.main_store.address}}   
                </p>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="flex justify-between">
        <div class="flex justify-between items-center">
            <div class="max-w-7xl">
                <h1 class="mb-3 text-2xl font-bold leading-tight text-gray-900 md:font-extrabold">매장 리스트</h1>
                <br/>
                <br/>
            </div>
        </div>

        <div class="w-2/3 flex justify-end">
            <div class="h-2/3">
                <button class="flex items-center justify-center w-full h-full px-4 mt-1 btn btn-primary" type="button" data-modal-toggle="popup-add">
                    <i class="text-2xl mr-3 fa-regular fa-square-plus"></i>
                    <p class="text-lg" >매장 등록 하기</p>    
                </button>
            </div>
        </div>
    </div>

    <div class=" bg-white rounded-lg grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3">   
    {% for store in storelist %}
        {% if not request.user.profile.main_store == store %}    
        <section class="w-full px-4 pt-5 mb-6">
            <div class="w-full">
                <div class="flex justify-between w-full">
                    <p class="mb-2 text-xs font-semibold tracking-wide text-gray-400 uppercase">For Developers</p>
                    <a href="{% url 'users:set_main_store' store.id %}" class="text-xs w-full mx-1 mb-2 btn btn-light btn-lg sm:w-auto sm:mb-0">
                        메인지정
                    </a>
                </div>
                <h1 class="mb-3 text-3xl font-bold leading-tight text-gray-900 md:text-4xl">{{store.name}}</h1>
                <p class="mb-5 text-base text-gray-500 md:text-lg">
                    {{store.address}}   
                </p>
            </div>
            <div class="flex w-full justify-between">
                <a href="{% url 'users:update_store_page' store.id %}" class="w-1/2 mr-1 mb-2 btn btn-primary btn-lg">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>
                <a href="{% url 'users:delete_store' store.id %}" class="w-1/2 ml-1 mb-2 btn btn-light btn-lg">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>

            {% comment %} <a href="{% url 'users:show_store_info' store.id %}">매장명 : {{store.name}}</a><br> {% endcomment %}
        </section>
        {% endif %}
    {% endfor %}
    </div>
</div>

<!-- modal -->
<div id="popup-add" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal justify-center items-center" aria-hidden="true">
    <div
    class="w-full px-0 pt-5 pb-6 mx-auto mt-2 mb-0 space-y-4 bg-transparent border-gray-200 rounded-lg bg-white border sm:w-10/12 md:w-8/12 lg:w-6/12 xl:w-4/12 md:px-6 sm:mt-8 sm:mb-5"
    >
      <div class="flex justify-end">
        <button type="button" class=" text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="popup-add">
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Close modal</span>
        </button>
      </div>
      <h1 class="mb-5 text-2xl font-bold text-left text-gray-800 sm:text-center">매장 등록하기</h1>
      <form action="{%url 'users:create_store' %}" method="post" enctype="multipart/form-data" class="pb-1 space-y-4">
        {% csrf_token %}
        <label class="block">
          <span class="block mb-1 text-xs font-medium text-gray-700">매장 이름</span>
          <input class="form-input" type="text" placeholder="Ex. 아이스크림 OO점" inputmode="text" required  name="name"/>
        </label>
        <label class="block">
          <span class="block mb-1 text-xs font-medium text-gray-700">주소</span>
          <input class="form-input" type="text" placeholder="Ex. 서울 엄복동 삼천리 자전거길 7" required name="address" />
        </label>
        <div class="flex items-center justify-between">
          <button type="submit" class="w-full py-3 mt-1 btn btn-primary">매장 등록</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}