{% if messages  %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
            {{ message }}
        </div>
        <button><a href="{% url 'users:create_store_page'%}">다시 작성하기</a></button>
    {% endfor %}

{% else %}
<form action="{%url 'users:create_camera' store.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>rtsp 주소 : <input type="text" required name="rtsp_url" placeholder="카메라 정보 입력"></p>
    <br><button type="submit">카메라 정보 저장</button>
</form>
<br>
{% for camera in cameras %}
    rtsp 주소 : {{camera.rtsp_url}}<br>
{% endfor %}
   

{% endif %}