<div class="flex flex-row items-center justify-between">
    {% if value >= 0 %}
        <!-- Positive -->
        <div aria-label="Target archievement" data-microtip-position="top" role="tooltip" class="flex flex-row items-center mb-1 sm:mb-0">
        <p class="text-xs text-green-600 px-1 bg-green-50 bg-opacity-90 rounded border border-green-200">
            {{value}}%
        </p>
        </div>
    {% else %}
        <!-- Negative -->
        <div aria-label="Change over last month" data-microtip-position="top" role="tooltip" class="flex flex-row items-center">
        
        <p class="text-xs text-green-600 px-1 bg-green-50 bg-opacity-90 rounded border border-green-200">
            {{value}}%
        </p>
        </div>
    {% endif %}
</div>