<div id="main-content" class="w-full flex-1">
    <div class="flex flex-1 flex-wrap">
      <div class="w-full xl:w-2/3 p-6 xl:max-w-6xl">
        <!--"Container" for the graphs"-->
        <div class="max-w-full lg:max-w-5xl xl:max-w-7xl">
          <!--Graph Card-->
          <div class="border-b p-3">
            <h5 class="font-bold text-black">10월 이상행동 발생동향</h5>
          </div>
          <div class="p-5">
            <div class="ct-chart ct-golden-section" id="chart1"></div>
          </div>
          <!--/Graph Card-->

          <!--Table Card-->
          <div class="p-3">
            <div class="border-b p-3">
              <h5 class="font-bold text-black">히스토리</h5>
            </div>
            <div class="p-5">
              <table class="w-full p-5 text-gray-700">
                <thead>
                  <tr>
                    <th class="text-left text-blue-900">행동유형</th>
                    <th class="text-left text-blue-900">날짜</th>
                    <th class="text-left text-blue-900">시간</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>실신</td>
                    <td>2022-10-29</td>
                    <td>10:32</td>
                  </tr>
                  <tr>
                    <td>장시간 배회</td>
                    <td>2022-10-28</td>
                    <td>23:33</td>
                  </tr>
                  <tr>
                    <td>기물 파손</td>
                    <td>2022-10-26</td>
                    <td>01:22</td>
                  </tr>
                </tbody>
              </table>
              
              {% comment %} to list {% endcomment %}
              <p class="py-2">
                <a href="/list">더보기...</a>
              </p>
            </div>
          </div>
          <!--/table Card-->
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script>
      var mainChart = new Chartist.Line("#chart1", {
        labels: [
          "Mon",
          "Tue",
          "Wed",
          "Thu",
          "Fri",
          "Sat"
        ],
        series: [
          [
            1,
            5,
            2,
            5,
            4,
            3
          ]
        ]
      }, {
        low: 0,
        showArea: true,
        showPoint: false,
        fullWidth: true
      });

      mainChart.on("draw", function (data) {
        if (data.type === "line" || data.type === "area") {
          data
            .element
            .animate({
              d: {
                begin: 1000 * data.index,
                dur: 1000,
                from: data
                  .path
                  .clone()
                  .scale(1, 0)
                  .translate(0, data.chartRect.height())
                  .stringify(),
                to: data
                  .path
                  .clone()
                  .stringify(),
                easing: Chartist.Svg.Easing.easeOutQuint
              }
            });
        }
      });

      var chartScatter = new Chartist.Line("#chart2", {
        labels: [
          "1",
          "2",
          "3",
          "4",
          "5",
          "6",
          "7",
          "8",
          "9",
          "10",
          "11",
          "12"
        ],
        series: [
          [
            12,
            9,
            7,
            8,
            5,
            4,
            6,
            2,
            3,
            3,
            4,
            6
          ]
        ]
      }, {low: 0});

      chartScatter.on("draw", function (data) {
        if (data.type === "line" || data.type === "area") {
          data
            .element
            .animate({
              d: {
                begin: 500 * data.index,
                dur: 1000,
                from: data
                  .path
                  .clone()
                  .scale(1, 0)
                  .translate(0, data.chartRect.height())
                  .stringify(),
                to: data
                  .path
                  .clone()
                  .stringify(),
                easing: Chartist.Svg.Easing.easeOutQuint
              }
            });
        }
      });

    </script>