<!-- Side bar-->
<div
  id="sidebar"
  class="h-screen w-16 menu bg-white text-white px-4 flex items-center nunito static fixed shadow"
>
  <ul class="list-reset">
    {% comment %} list 1 : home {% endcomment %}
    <li class="my-2 md:my-0">
      <a
        href="/"
        class="block py-1 md:py-3 pl-1 align-middle {% if request.path == '/' %} text-indigo-400 {% else %} text-gray-600 {% endif %} no-underline hover:text-indigo-400"
      >
        <i class="fas fa-home fa-fw mr-3"></i
        ><span class="w-full inline-block pb-1 md:pb-0 text-sm">Home</span>
      </a>
    </li>
    {% comment %}
    <li class="my-2 md:my-0">
      <a
        href="#"
        class="block py-1 md:py-3 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400"
      >
        <i class="fas fa-tasks fa-fw mr-3"></i
        ><span class="w-full inline-block pb-1 md:pb-0 text-sm">Tasks</span>
      </a>
    </li>
    {% endcomment %} {% comment %} list 2 : analytics {% endcomment %}
    <li class="my-2 md:my-0">
      <a
        href="/analytics"
        class="block py-1 md:py-3 pl-1 align-middle {% if request.path == '/analytics/' %} text-indigo-400 {% else %} text-gray-600 {% endif %} no-underline hover:text-indigo-400"
      >
        <i class="fas fa-chart-area fa-fw mr-3"></i
        ><span class="w-full inline-block pb-1 md:pb-0 text-sm">Analytics</span>
      </a>
    </li>
    <li class="my-2 md:my-0">
      <a
        href="/list"
        class="block py-1 md:py-3 pl-1 align-middle {% if request.path == '/list/' %} text-indigo-400 {% else %} text-gray-600 {% endif %} no-underline hover:text-indigo-400"
      >
        <i class="fa-solid fa-photo-film mr-3"></i>
        <span class="w-full inline-block pb-1 md:pb-0 text-sm">History</span>
      </a>
    </li>

    {% comment %} list 3 : search {% endcomment %}
    <li class="my-2 md:my-0">
      <a
        href="/camera/find"
        class="block py-1 md:py-3 pl-1 align-middle {% if request.path == '/camera/find' %} text-indigo-400 {% else %} text-gray-600 {% endif %} no-underline hover:text-indigo-400"
      >
        <i class="fa-sharp fa-solid fa-magnifying-glass fa-fw mr-3"></i>
        <span class="w-full inline-block pb-1 md:pb-0 text-sm">Search</span>
      </a>
    </li>
    <li class="my-2 md:my-0">
      <a
        href="/camera/default"
        class="block py-1 md:py-3 pl-1 align-middle {% if request.path == '/camera/camerapage' %} text-indigo-400 {% else %} text-gray-600 {% endif %} no-underline hover:text-indigo-400"
      >
        <i class="fas fa-solid fa-video fa-fw mr-3"></i
        ><span class="w-full inline-block pb-1 md:pb-0 text-sm">Live Cam</span>
      </a>
    </li>
  </ul>
</div>
