{% extends 'base.html' %}

{% block content %}
<div class="flex flex-row flex-wrap flex-1 flex-grow content-start">
    <div class="h-20 lg:h-20 w-full flex flex-wrap">
      <nav id="header" class="bg-gray-200 w-full lg:max-w-sm flex items-center border-b-1 border-gray-300 order-2 lg:order-1">
        <div class="px-2 w-full">
          <select name="" class="bg-gray-300 border-2 border-gray-200 rounded-full w-full py-3 px-4 text-gray-500 font-bold leading-tight focus:outline-none focus:bg-white focus:shadow-md" id="form-field2">
            <option value="A">점포 a</option>
            <option value="B">점포 b</option>
            <option value="C">점포 c</option>
          </select>
        </div>
      </nav>
    </div>
    <!--Dash Content -->
    <div id="dash-content" class="bg-gray-200 py-6 lg:py-0 w-full lg:max-w-sm flex flex-wrap content-start">
      {% include "partials/statusBox.html" with data="20" name="오늘 방문자" %}
      {% include "partials/statusBox.html" with data="8" name="이상행동" %}
    </div>

    <!--Graph Content -->
    {% include "partials/graphs.html" %}
</div>  
{% endblock content %}