<!--This template is based on: https://dribbble.com/shots/6531694-Marketing-Dashboard by Gregoire Vella -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>
      Demo page
    </title>
    <meta name="description" content="description here"/>
    <meta name="keywords" content="keywords,here"/>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700,800" rel="stylesheet"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <!--Replace with your tailwind.css once created-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css"/>
    <script src="https://kit.fontawesome.com/fad942d57d.js" crossorigin="anonymous"></script>
    
  </head>

  <body class="">
    {% comment %} {% include "partials/nav_horizental.html" %} {% endcomment %}
    {% comment %} {% include "partials/nav_vertical.html" %} {% endcomment %}
    
    <div class="pl-16 flex h-screen w-screen bg-gray-100 font-sans">
      {% block content %}
      {% endblock content %}
    </div>
    
  </body>

</html>
